<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="head">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/memory.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
     <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
          <link rel="stylesheet" th:href="@{/css/topbar.css}"/>
       <link rel="stylesheet" th:href="@{/css/searchWiki.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css}"/>
    <link rel="stylesheet" th:href="@{/fontawesome-free-6.6.0-web/css/fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/fontawesome-free-6.6.0-web/css/regular.css}"/>
    <link rel="stylesheet" th:href="@{/fontawesome-free-6.6.0-web/css/solid.css}"/>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js}"></script>
    <script th:src="@{https://d3js.org/d3.v7.min.js}"></script>
    <script th:src="@{https://unpkg.com/viz.js}"></script>
    <script th:src="@{https://unpkg.com/viz.js/full.render.js}"></script>
    
    <script th:src="@{/js/analyzer.js}"></script>
    <script th:src="@{/js/interactiveGen.js}"></script>
    <script th:src="@{/js/generateRelationsGraph.js}"></script>
    <script th:src="@{/js/cookies.js}"></script>
    <script th:src="@{/js/basicWorkings.js}"></script>
    <script th:src="@{/js/headerTokenManagement.js}"></script>

</html>
