<head>
<meta charset="UTF-8">
</head>
<div xmlns:th="http://www.thymeleaf.org" id="sidebar" class="sidebar"
	th:fragment="sidebar">
	<a th:href="@{/learningpage}" class="sidebar-item"> <i
		class="fas fa-book"></i> <span>Free Learning</span>
	</a> <a th:href="@{/worldcountries}" class="sidebar-item"> <i
		class="fas fa-globe"></i> <span>Countries</span>
	</a> <a th:href="@{/flaggame}" class="sidebar-item"> <i
		class="fas fa-flag"></i> <span>Flags Game</span>
	</a> <a th:href="@{/pronunciationgame}" class="sidebar-item"> <i
		class="fas fa-volume-up"></i> <span>Alphabet and Pronunciation</span>
	</a> <a th:href="@{/tobecloze}" class="sidebar-item"> <i
		class="fas fa-user"></i> <span>Pronouns and "To Be"</span>
	</a> <a th:href="@{/flashcardgame}" class="sidebar-item"> <i
		class="fas fa-lightbulb"></i> <span>Flashcard Game</span>
	</a> <a th:href="@{/crossword}" class="sidebar-item"> <i
		class="fas fa-puzzle-piece"></i> <span>Crossword</span>
	</a> <a th:href="@{/irregularplurals}" class="sidebar-item"> <i
		class="fas fa-list"></i> <span>Irregular Plurals</span>
	</a> <a th:href="@{/jobsgame}" class="sidebar-item"> <i
		class="fas fa-briefcase"></i> <span>Jobs Game</span>
	</a> <a th:href="@{/verbmatchinggame}" class="sidebar-item"> <i
		class="fas fa-exchange-alt"></i> <span>Verb Matching Game</span>
	</a> <a th:href="@{/pastsimplematchinggame}" class="sidebar-item"> <i
		class="fas fa-history"></i> <span>Past Simple</span>
	</a> <a th:href="@{/gameofgoose}" class="sidebar-item"> <i
		class="fas fa-dice"></i> <span>Game of Goose</span>
	</a> <a th:href="@{/lesson1-5recap}" class="sidebar-item"> <i
		class="fas fa-book-open"></i> <span>Lesson 1-5 Recap</span>
	</a>
</div>

<script>

    </script>
