/* Styles for the modal */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 900;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-height: 60%;
    max-width: 60%;
    height: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px; /* Apply the rounding */
    border: 1px solid #888;
    box-shadow: 0 2px 25px 0 rgba(240, 248, 255, 0.7), 0 2px 25px 0 rgba(240, 248, 255, 0.7); /* Alice blue shadow */
    overflow-y: auto; /* Scrollable content */
    clip-path: inset(0 round 20px); /* Keeps rounded corners even with overflow */
}


/* Close button styles */
.close {
    position: absolute; /* Position the close button absolutely */
    top: 10px; /* Distance from the top of the modal-content */
    right: 10px; /* Distance from the right edge of the modal-content */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


/* Button styles for the instruction button */
#showInstructions {
    position: fixed;
    top: 10%;
    right: 5%;
    background-color: #003366; /* Dark blue background */
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000; /* Ensure it's on top of other content */
}

 @media (max-width: 768px) {
           
	#showInstructions { top:15% }
          
        }

#showInstructions:hover {
    background-color: #002244; /* Darker blue on hover */
}


.word:has(span) {
	cursor: url('imgs/volume_up_40dp.svg'), auto;
}

.word {
	cursor: pointer;
}

.letter-container {
	border: 2px solid #333;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.letter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 10px;
	background-color: aliceblue;
	border: 1px solid #333;
	font-size: 24px;
	cursor: pointer;
}

.highlight {
	background-color: #77DD77;
}

.wrapper {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 50px;
}

.word {
	display: inline-block;
	margin: 0 5px;
	padding: 2px;
	cursor: pointer;
}

.word:hover {
	background-color: lightblue;
}