<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appìl Privacy Policy</title>
        
   <th:block th:insert="~{fragments/head :: head}"></th:block>
    
</head>
<body>

   
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    
    <div class="Content">
    <div id="text-container" style="text-align:justify;">
      <h1>Privacy Policy</h1>
    <p>This Appìl platform (hereafter “Platform”) provides information on the institutional activities carried out by PhD research project “Appìl: apprendimento e insegnamento delle lingue”, conducted by Pasquale Esposito at University of Salerno (<a href="https://www.dipsumdills.it/en/teacher/pasquale-esposito">https://www.dipsumdills.it/en/teacher/pasquale-esposito</a>).</p>
    <p>With this privacy policy, rendered in accordance with Article 13 of Regulation (EU) 2016/679 (hereafter “Regulation”), we inform you of the processing of personal data that may be acquired when consulting the Platform.</p>
    <h2>Topics:</h2>
    <ul>
        <li><a href="#what-data-do-we-collect">What data do we collect?</a></li>
        <li><a href="#how-do-we-collect-your-data">How do we collect your data?</a></li>
        <li><a href="#how-will-we-use-your-data">How will we use your data?</a></li>
        <li><a href="#how-do-we-store-your-data">How do we store your data?</a></li>
        <li><a href="#marketing">Marketing</a></li>
        <li><a href="#what-are-your-data-protection-rights">What are your data protection rights?</a></li>
        <li><a href="#what-are-cookies">What are cookies?</a></li>
        <li><a href="#how-do-we-use-cookies">How do we use cookies?</a></li>
        <li><a href="#what-types-of-cookies-do-we-use">What types of cookies do we use?</a></li>
        <li><a href="#how-to-manage-your-cookies">How to manage your cookies</a></li>
        <li><a href="#privacy-policies-of-other-websites">Privacy policies of other websites</a></li>
        <li><a href="#changes-to-our-privacy-policy">Changes to our privacy policy</a></li>
        <li><a href="#how-to-contact-us">How to contact us</a></li>
        <li><a href="#how-to-contact-the-appropriate-authorities">How to contact the appropriate authorities</a></li>
    </ul>

    <h2 id="what-data-do-we-collect">What data do we collect?</h2>
    <p>The Platform collects the following data:</p>
    <ul>
        <li>Personal identification information (Name, email-address, age)</li>
    </ul>

    <h2 id="how-do-we-collect-your-data">How do we collect your data?</h2>
    <p>You directly provide the Platform with most of the data we collect. We collect data and process data when you:</p>
    <ul>
        <li>Register online by filling the Registration form</li>
    </ul>

    <h2 id="how-will-we-use-your-data">How will we use your data?</h2>
    <p>Our Company collects your data so that we can:</p>
    <ul>
        <li>Process your choices on the Platform and manage your account.</li>
        <li>Personalize the learning experience</li>
    </ul>

    <h2 id="how-do-we-store-your-data">How do we store your data?</h2>
    <p>Our Platform securely stores your data at [enter the location and describe security precautions taken].</p>
    <p>Our Company will keep the above mentioned personal information as long as the account stays active. Otherwise, if the inactivity lasts more than 364 days, we will delete the data on the 365th day.</p>

    
    <h2 id="what-are-your-data-protection-rights">What are your data protection rights?</h2>
    <p>We want to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
    <ul>
        <li><strong>The right to access</strong> – You have the right to request for copies of your personal data. We may charge you a small fee for this service.</li>
        <li><strong>The right to rectification</strong> – You have the right to request to correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.</li>
        <li><strong>The right to erasure</strong> – You have the right to request to erase your personal data, under certain conditions.</li>
        <li><strong>The right to restrict processing</strong> – You have the right to request to restrict the processing of your personal data, under certain conditions.</li>
        <li><strong>The right to object to processing</strong> – You have the right to object to the processing of your personal data, under certain conditions.</li>
        <li><strong>The right to data portability</strong> – You have the right to request to transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
    </ul>
    <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:pasesposito@unisa.it">pasesposito@unisa.it</a></p>

    <h2 id="what-are-cookies">Cookies</h2>
    <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</p>
    <p>For further information, visit <a href="https://www.allaboutcookies.org" target="_blank">allaboutcookies.org</a>.</p>

    <h2 id="how-do-we-use-cookies">How do we use cookies?</h2>
    <p>Our Company uses cookies in a range of ways to improve your experience on our website, including:</p>
    <ul>
        <li>Keeping you signed in</li>
        <li>Understanding how you use our website</li>
        <li>Remembering your choices for research purposes</li>
    </ul>

    <h2 id="what-types-of-cookies-do-we-use">What types of cookies do we use?</h2>
    <p>There are a number of different types of cookies, however, our website uses:</p>
    <ul>
        <li><strong>Functionality</strong> – Our Company uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
    </ul>

    <h2 id="how-to-manage-your-cookies">How to manage cookies</h2>
    <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

    <h2 id="privacy-policies-of-other-websites">Privacy policies of other websites</h2>
    <p>The website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

    <h2 id="changes-to-our-privacy-policy">Changes to our privacy policy</h2>
    <p>We keep its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 20th June 2024.</p>

    <h2 id="how-to-contact-us">How to contact us</h2>
    <p>If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
    <p>Email us at: <a href="mailto:pasesposito@unisa.it">pasesposito@unisa.it</a></p>

    <h2 id="how-to-contact-the-appropriate-authorities">How to contact the appropriate authorities</h2>
    <p>Should you wish to report a complaint or if you feel that we have not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.</p>
	
	</div>
    </div>
      	
  <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    
    </body>
</html>